<% layout('layouts/boilerplate')%>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card body p-3 shadow mb-3">
            <h1 class="text-center" id="edit-workspot">Edit Workspot</h1>
            <form action="/workspots/<%=workspot._id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="workspot[title]" id="title" value="<%= workspot.title %>"required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name="workspot[location]" id="location" value="<%= workspot.location %>"required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">One cup of coffee is:</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price">$</span>
                        <input type="text" class="form-control" name="workspot[price]" id="price" aria-label="price" aria-describedby="price-label" value="<%= workspot.price %>"required>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" name="workspot[description]" id="description" required><%= workspot.description %></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="image" name="image" multiple>
                        <label class="custom-file-label" for="image">Add more images...</label>
                    </div>
                </div>
                <div class="mb-3">
                    <% workspot.images.forEach(function(img, i) { %>
                        <img src="<%=img.thumbnail%>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" name="deleteImages[]" value="<%=img.filename%>" id="image-<%=i%>">
                        </div>
                        <label for="image-<%=i%>">Delete?</label>
                        <% }) %>
                </div>
                <div class="mb-3">
                    <button class="btn btn-info" style="width: 100%">Update Workspot</button>
                </div>
            </form>
            <a href="/workspots/<%= workspot._id%>" class="btn btn-danger mb-3" style="width: 100%;">Cancel</a>
        </div>
     
        </div>
