<% layout('layouts/boilerplate')%>
    <h1><%= workspot.title %></h1>
    <h2><%= workspot.location %></h2>
    <img src="<%= workspot.image %>" alt="">
    <p><%= workspot.description %></p>
    <p>
        <a href="/workspots/<%=workspot._id%>/edit">Edit</a>
    </p>
    <p>
        <form action="/workspots/<%=workspot._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    </p>
    <footer>
        <a href="/workspots">All Workspots</a>
    </footer>
